/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-jun-2016, 14:08:39
    Author     : HOEM
*/

.logout{
    color: #ffffff !important;
    text-decoration: none;
    margin-right: 5px;
}

.customfielddownload {
    width: 20%;
}

.customFileUpload .ui-fileupload-buttonbar .ui-fileupload-choose input{
    position: absolute;
    top: 0;
    right: 0px;
    /*margin: 15;*/
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
    width: 100%;
}
.customUploadGrid .ui-fileupload-buttonbar .ui-fileupload-choose, 
.customUploadGrid .ui-fileupload-buttonbar .ui-fileupload-upload,
.customUploadGrid .ui-fileupload-buttonbar .ui-fileupload-cancel{
    width: 15% !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.rowbackgorundOnRepeated{
    background:rgba(255, 85, 85, 0.39)!important;
}
